---
import DatabaseIcon from '@/assets/icons/Database.astro'
import LinkIcon from '@/assets/icons/Link.astro'
import MongoIcon from '@/assets/icons/Mongo.astro'
import NestIcon from '@/assets/icons/Nestjs.astro'
import PrismaIcon from '@/assets/icons/Prisma.astro'
import React from '@/assets/icons/React.astro'
import Tailwind from '@/assets/icons/Tailwind.astro'
import TypescriptIcon from '@/assets/icons/Typescript.astro'
import ViteIcon from '@/assets/icons/Vite.astro'
import ExpButton from './ExpButton.astro'

const TAGS = {
  REACT: {
    name: 'React',
    class: 'bg-[#087EA4]/15 text-white',
    icon: React,
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-[#3178C6]/15 text-white',
    icon: TypescriptIcon,
  },
  TAILWIND: {
    name: 'Tailwind',
    class: 'bg-[#0EA5E9]/15 text-white',
    icon: Tailwind,
  },
  NEST: {
    name: 'NestJS',
    class: 'bg-[#E02316]/15 text-white',
    icon: NestIcon,
  },
  PRISMA: {
    name: 'Prisma',
    class: 'bg-[#2D3748]/70 text-white',
    icon: PrismaIcon,
  },
  MONGO: {
    name: 'MongoDB',
    class: 'bg-[#00ED64]/15 text-white',
    icon: MongoIcon,
  },
}

const PROJECTS = [
  {
    title: 'ATM Simulator',
    description: `This project simulates an Automated Teller Machine (ATM) experience, allowing users 
      to authenticate via email for deposits and withdrawals. All account transactions are recorded for 
      later reference, ensuring a comprehensive transaction history. The frontend is hosted on Vercel, 
      while the backend is hosted on Render. For each repository, I implemented two environments: production 
      and development. All changes were pushed from my development branch to the main branch of each project. 
      I configured the hosting services so that when the main branch was updated, these changes were automatically 
      detected, triggering a new deployment seamlessly.`,
    link: 'https://atm-simulator-frontend.vercel.app/',
    github: {
      frontend: 'https://github.com/alexpintodiaz/atm-simulator-frontend',
      backend: 'https://github.com/alexpintodiaz/atm-simulator-backend',
    },
    image: '/projects/atmsim.png',
    tags: [
      TAGS.REACT,
      TAGS.NEST,
      TAGS.PRISMA,
      TAGS.MONGO,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
    ],
  },
]
---

<div class='flex flex-col gap-y-16'>
  {
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
      <article class='flex flex-col space-x-0 space-y-8 md:flex-row md:space-x-8 md:space-y-0 mb-8'>
        <div class='flex flex-col justify-between w-full md:w-1/2'>
          <img
            loading='lazy'
            class='rounded-md shadow-2xl shadow-white/10 aspect-video transition duration-500 lg:hover:scale-105'
            src={image}
            alt={`Screenshot of ${title}`}
          />
          <div class='flex flex-col border border-dashed border-violet-400 mt-4 py-1 rounded-md'>
            <h4 class='flex justify-center text-lg font-semibold text-neutral-200'>
              Tech Stack
            </h4>

            <ul class='flex flex-row flex-wrap justify-evenly gap-x-2 px-2'>
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-1.5 rounded-full text-sm ${tag.class} py-1 my-1 px-1.5 border border-white/20 cursor-default select-none`}>
                    <tag.icon class='size-4 mt-0.5' />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
          </div>
        </div>
        <div class='flex flex-col justify-center w-full md:w-7/12 md:max-w-lg'>
          <h3 class='text-lg font-semibold text-neutral-200 dark:text-white'>
            {title}
          </h3>
          <div>
            <p class='text-sm font-normal text-gray-200 text-pretty'>
              {description}
            </p>
            <footer class='mt-2 flex flex-wrap space-x-3'>
              {github.frontend && (
                <ExpButton href={github.frontend}>
                  <ViteIcon class='size-5' />
                  Front Repo
                </ExpButton>
              )}
              {github.backend && (
                <ExpButton href={github.backend}>
                  <DatabaseIcon class='size-5' />
                  Back Repo
                </ExpButton>
              )}
              {link && (
                <ExpButton href={link}>
                  <LinkIcon class='size-[18px]' />
                  Preview
                </ExpButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
